body{
    background-color: #EBF8FF;
    color: #1F3561;
    font-weight: 600;
}

.nav-link {
    color: #1F3561;
    font-weight: 700;
    font-size: 20px;
}

.card#patient {
    height: 400px;
    background-image: url('./assets/Patient.png');
    background-size: cover;
    background-position: center; /* Centrer l'image dans la div */
    background-repeat: no-repeat; /* Empêcher l'image de se répéter */
}

.card#medecin {
    height: 400px;
    background-image: url('./assets/medecin.png');
    background-size: cover;
    background-position: center; /* Centrer l'image dans la div */
    background-repeat: no-repeat; /* Empêcher l'image de se répéter */
}

.card{
    background-color: #ebf8ff;
    border: none;
    color: white;
    border-radius: 16px;
}

h2.card-title#medecin-patient {
    margin-top: 30%;
}

img#assets-okdoct2 {
    margin-top: 65px;
}

section#patient-medecin {
    padding-top: 8% !important;
    padding-bottom: 5% !important;
}

.footer-card {
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
}
.footer-container {
    background-color: #e9ecef;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-icons img {
    margin: 0 5px;
}



  #footer-container {
    padding: 40px 0;
    color: #1F3561;
  }
  .footer-card {
    border: none;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #1F3561;
  }
  .footer-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-card-title {
    margin-bottom: 15px;
  }
  .social-icons {
    font-size: 24px;
  }
  .social-icons i {
    margin-right: 10px;
  }


  .footer-card .card-text {
    margin-bottom: 0.5rem;
  }

  .horizontal {
    padding: 5px;
    width: 100%;
    border-top: 0.5px solid #c1c1c1;
    margin: 5px;
  }


  div#footer-container {
    margin-top: 50px;
    margin-bottom: 80px;
    height: 400px;
    background-image: url('./assets/bck-footer.png');
    background-size: cover;
    background-position: center; /* Centrer l'image dans la div */
    background-repeat: no-repeat; 
}


div#footer-card {
    margin-top: 100px;

}