body{
    background-color: #EBF8FF;
    color: #1F3561;
    font-weight: 400;
    font-family: 'Utendo', sans-serif;
}
h1, h2, h3, h4, h5, h6, li,.btn {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
}

.nav-link {
    color: #1F3561;
    font-weight: 700;
    font-size: 20px;
}

.card#patient {
    height: 400px;
    background-image: url('./assets/Patient.png');
    background-size: cover;
    background-position: center; /* Centrer l'image dans la div */
    background-repeat: no-repeat; /* Empêcher l'image de se répéter */
}

.card#medecin {
    height: 400px;
    background-image: url('./assets/medecin.png');
    background-size: cover;
    background-position: center; /* Centrer l'image dans la div */
    background-repeat: no-repeat; /* Empêcher l'image de se répéter */
}

.card{
    background-color: #ebf8ff;
    border: none;
    color: white;
    border-radius: 16px;
}

h2.card-title#medecin-patient {
    margin-top: 30%;
}

img#assets-okdoct2 {
    margin-top: 65px;
}

section#patient-medecin {
    padding-top: 8% !important;
    padding-bottom: 5% !important;
}

.footer-card {
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
}
.footer-container {
    background-color: #e9ecef;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-icons img {
    margin: 0 5px;
}



  #footer-container {
    padding: 40px 0;
    color: #1F3561;
  }
  .footer-card {
    border: none;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #1F3561;
  }
  .footer-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-card-title {
    margin-bottom: 15px;
  }
  .social-icons {
    font-size: 24px;
  }
  .social-icons i {
    margin-right: 10px;
  }


  .footer-card .card-text {
    margin-bottom: 0.5rem;
  }

  .horizontal {
    padding: 5px;
    width: 100%;
    border-top: 0.5px solid #c1c1c1;
    margin: 5px;
  }


  div#footer-container {
    margin-top: 50px;
    margin-bottom: 80px;
    height: 400px;
    background-image: url('./assets/bck-footer.png');
    background-size: cover;
    background-position: center; /* Centrer l'image dans la div */
    background-repeat: no-repeat; 
}


div#footer-card {
    margin-top: 100px;

}
h2 {
  font-weight: bold;
  font-size: 24px;
}

span#titre-h1{
  padding: 10px;
  background-color: #1F3561;
  color: white;
  border-radius: 5px;
}

section.header {
  margin-left: 80px;
  margin-right: 80px;
}

.contact-form {
  padding: 40px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: none; /* Si vous ne voulez pas d'ombre sur le bouton */
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
.form-control::placeholder { /* Change la couleur du placeholder */
  color: #999999;
}
.form-control {
  color: #000;
  background-color: #EBF8FF !important;
  outline: 0;
  border: 1px solid #ebf8ff;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 20px;
}


button#contact {
  margin-top: 15%;
  background-color: #3A57ED !important;
  border-radius: 15px;
  border: none !important;
}

div#contact {
  padding-bottom: 20%;
}

.modal-content {
  border-radius: 15px;
  padding-bottom: 50px;
}
.modal-header {
  border-bottom: none;
  position: relative;
}
.modal-title {
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: 500;
}
.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal-body {
  text-align: center;
}
.modal-body .btn {
  border-radius: 10px;
  padding: 10px 24px;
  font-size: 1rem;
  width: 150px; /* Largeur fixe pour les deux boutons */
  height: 100px;
  margin: 15px 20px; /* Espacement entre les boutons */
}

h3#inscriptionModalLabel {
  padding-top: 30px;
}

button#form-send, button#form-pre{
  padding: 5px;
  height: 40px;
}
button#form-send{
 background-color: #3A57ED !important;
 border-color: #3A57ED;
 font-weight: bold;
}

button#form-pre{
background-color: white;
color: #1F3561;
font-weight: bold;
border-color: #ededed;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


button#royal {
  background-color: #3A57ED !important;
  border-radius: 15px;
  border: none !important;
}

.btn {
  padding: 10px 30px 10px 30px !important;
  border-radius: 15px;
}

a#blanc {
  background-color: white;
  border: none;
  color: #1F3561;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 100%);
}

a#en-savoir {
  background-color: #00DEDD;
  border: none;
  color: #1F3561;
  box-shadow: 0 5px 10px rgb(168, 168, 168);
}

ul.dropdown-menu.show {
  background-color: #ebf8ff;
  text-align: center;
  border: none;
  box-shadow: 0 5px 10px rgb(168, 168, 168);
  padding: 5px;
  width: 10px;
}

a.dropdown-item {
  border-top: 1px solid #cecece;
}

button.btn.btn-outline-dark.fw-bold{
  background-color: #00DEDD;
  border: none;
  color: #1F3561;
  box-shadow: 0 5px 10px rgb(168, 168, 168);

}